<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145786144142-2flv79q41p655d1rv4063irmflmjb6o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145786144142-2flv79q41p655d1rv4063irmflmjb6o1</string>
	<key>API_KEY</key>
	<string>AIzaSyAwu7NJMddfC71RlaOg8hEOYINdrjDvNVM</string>
	<key>GCM_SENDER_ID</key>
	<string>145786144142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tulio.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-ios13-45c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-ios13-45c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145786144142:ios:44065681fae3ae582390df</string>
</dict>
</plist>